default:
  suites:
    default:
      contexts:
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\MarkupContext
        - Drupal\DrupalExtension\Context\DrushContext
  extensions:
    Behat\MinkExtension:
      default_session: goutte
      javascript_session: selenium2
      goutte:
        guzzle_parameters:
      # The base url for your local site. ex. http://my-site.local      
      base_url: http://127.0.0.1:8080
      # show_cmd is OS specific, for Ubuntu use xdg-open
      show_cmd: "xdg-open %s"
      selenium2:
        wd_host: http://127.0.0.1:4444/wd/hub
    Drupal\DrupalExtension:
      blackbox: ~
      api_driver: "drupal"
      drupal:
        # This must be an absolute path.
        drupal_root: /home/travis/build/fmizzell/drupal-7/drupal 
      drush:
        alias: "self"
